@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Style for main elements */

html, body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 2.5rem;
}

legend {
    font-size: 1.4rem;
}

h1, h2, h3 {
    text-transform: lowercase;
    font-weight: 900;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

/* Utility classes */

.container {
    margin: auto;
    max-width: 1300px;
    overflow: hidden;
    padding: 0 20px;
}

.description {
    font-size: 1.25rem;
}

.display-1 {
    font-size: 4rem;
}

@media only screen and (min-width:768px) {
    .display-1 {
        font-size: 6em;
    }
}

/* Navbar */
.navbar-home {
    height: 10%;
}

@media only screen and (min-width:768px) {
    .navbar-home {
        font-size: 10vh;
    }
}

#navbar {
    overflow: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width:768px) {
    #navbar {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%; 
    }
}

#navbar .logo {
    float: left;
    padding-top: 5px
}
#navbar .logo img {
    height: 30px;
}

#navbar a {
    color: black;
    display: block;
}

#navbar ul {
    float: right;
    font-size: 16px;
}

#navbar ul li {
    float: left;
    font-size: 20px;
    font-weight: 700;
}


#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover {
    color: #A8DCD1;
}

/* Front Page */
#front-page {
    height: 100%;
    padding: 50px 0 20px 0;
    background: #ffffff;
    
}

@media only screen and (min-width:768px) {
    #front-page {
        height: 80vh;
        padding: 150px 0;
    }
}

#front-page h1 {
    line-height: 1em;
}

#front-page .highlighted {
    color: aliceblue;
    -webkit-text-stroke: 2px #000;
}

.front-page-row {
    flex-wrap: wrap;
}

@media only screen and (min-width:768px) {
    .front-page-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.front-page-title {
    width: 100%;
	padding-top: 0;
	padding-bottom: 20px;
	text-align: center;
}

@media only screen and (min-width:768px) {
    .front-page-title {
        padding-top: 70px;
    }
}


.front-page-row-image {
    display: block;
    margin: 0 auto;
}

.front-page-row-image img {
    height: 300px;

}

/* About me section */
#about-me {
    padding: 10px 0;
    background-color: #ffffff;
}

@media only screen and (min-width:768px) {
    #about-me {
        padding: 90px 0;
        margin-left: 20%;
        margin-right: 20%;
    }
}

#about-me h2 {
    padding-bottom: 30px;
}

@media only screen and (min-width:768px) {
    #about-me h2 {
        padding-bottom: 50px;
    }
}


/* Skills */
#skills { 
    padding: 20px 0 0 0;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

@media only screen and (min-width:768px) {
    #skills { 
        margin-left: 20%;
        margin-right: 20%;
    }
}

#skills h3 {
    padding: 30px 0 10px 0;
    margin: 30px;
}

@media only screen and (min-width:768px) {
    #skills h3 { 
        padding: 20px 0 0 0;
        margin-left: 30px;
        margin-top: 70px;
        margin-bottom: 20px;
    }
}

.container-skills {
    display: flex;
    margin: 30px
}

.skills-row-left, .skills-row-right {
    width: 50%;
}


.skill-bar {
    border-radius: 10px;
    border: 1px solid grey;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#skill-html {
    animation-name: html-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes html-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 50%; 
        background-color: rgb(113, 141, 165);}
}

#skill-css {
    animation-name: css-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes css-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 35%; 
        background-color: rgb(113, 165, 130);}
}

#skill-js {
    animation-name: js-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes js-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 15%; 
        background-color: rgb(243, 214, 134);}
}

#skill-python {
    animation-name: python-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes python-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 40%; 
        background-color: rgb(243, 141, 134);}
}

#skill-adobe {
    animation-name: adobe-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes adobe-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 30%; 
        background-color: rgb(205, 114, 241);}
}

#skill-awesomeness {
    animation-name: awesomeness-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes awesomeness-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 80%; 
        background-color: rgb(148, 214, 189);}
}


/* Contact Form */

#contact-form {
    padding-top: 5px;
    margin: 20px 0 10px 30px;
    width: 100%;
}

#contact-form-container h3 {
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 50px;
}

@media only screen and (min-width:768px) {
    #contact-form {
        padding-top: 50px;
        margin-left: 30px;
        }

    #contact-form-container h3 {
        font-size: 2em;
        padding-bottom: 10px;
        padding-top: 30px;
        }
    }

#contact-form-container {
    padding: 20px 0 10px 0;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

@media only screen and (min-width:768px) {
    #contact-form-container {
        display: flex;
        justify-content: space-between;
    }

    .contact-info {
        float: left;
        margin: 30px;
    }

    .contact-info-2 {
        float: right;
        margin: auto;
        margin-top: 30px;
    }
    
}


.contact-info .contact {
    font-size: 20px;
}

.contact-info input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}


.contact {
    padding-top: 10px;
}

form input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
} 

.contact-info-2 div {
    margin-top: 5px;
    margin-bottom: 10px;
}
.form {
    font-size: 20px;
}

.message-me {
    margin: 10px 0 0 0;
    padding: 10px 30px;
}

#message {
    margin-top: 20px;
}

@media only screen and (min-width:768px) {
    .message-me {
        margin: 0 0 0 30px;
        padding: 20px 30px;
    }
}

.message-me label {
    margin-right: 15px;
    font-size: 20px;
}

textarea {
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

@media only screen and (min-width:768px) {
    textarea {
        display: flex;
        margin: 20px 0 0 0;
        width: 30%;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
}
.button-submit {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
      
.button-submit:after {
    content: "";
    background-color: #ffeb7a;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
      
.button-submit:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-submit {
      padding: 13px 50px 13px;
      margin: 0 0 20px 60px;
    }
  }

  #footer {
    background:rgb(235, 233, 233);
    text-align: center;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
}


#footer img {
    height: 30px;
    width: 30px;
    margin: 0 20px 10px 0;
}

@media (min-width: 768px) {
    #footer {
        height: 15vh;
    }
  }