@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Style for main elements */

html, body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 2.5rem;
}

legend {
    font-size: 1.4rem;
}

h1, h2, h3 {
    text-transform: lowercase;
    font-weight: 900;
}

legend {
    text-transform: lowercase;
    font-weight: 700;
}
p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

/* Utility classes */

.container {
    margin: auto;
    max-width: 1300px;
    overflow: hidden;
    padding: 0 20px;
}

.description {
    font-size: 1.25rem;
}

.display-1 {
    font-size: 6rem;
}

/* Navbar */
.navbar-home {
    height: 10vh;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar .logo {
    float: left;
    padding-top: 5px
}
#navbar .logo img {
    height: 30px;
}

#navbar a {
    color: black;
    display: block;
}

#navbar ul {
    float: right;
    font-size: 16px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover {
    color: rgb(247, 10, 255);
}

/* Front Page */
#front-page {
    height: 80vh;
    background: rgb(241, 240, 240);
    padding: 150px 0;
}

#front-page h1 {
    line-height: 1em;
}

#front-page .highlighted {
    color: aliceblue;
    -webkit-text-stroke: 2px #000;
}

.front-page-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.front-page-title {
    padding-top: 70px;
}

.front-page-row-image {
    display: block;
    margin: 0 auto;
}

.front-page-row-image img {
    height: 300px;

}

/* About me section */
#about-me {
    padding: 150px 0;
    background-color: rgb(245, 245, 245);
}

#about-me h2 {
    padding-bottom: 50px;
}

.about-row {
    display: flex;
}

.about-row-image img {
    height: 300px;
    width: 400px;
    padding-right: 90px;
}

hr {
    width: 61%;
    margin-bottom: 30px;
    margin-left: 0px;
}

/* Skills */
#skills { 
    padding: 90px 0;
    background: rgb(241, 240, 240);
    margin: auto;
}

#skills h3 {
    padding-bottom: 20px;
    margin: 50px
}


.container-skills {
    display: flex;
    padding-bottom: 50px;
    margin: 50px
}

.skills-row-left, .skills-row-right {
    width: 50%;
}


.skill-bar {
    border-radius: 10px;
    border: 1px solid grey;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#skill-html {
    animation-name: html-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes html-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 50%; 
        background-color: rgb(113, 141, 165);}
}

#skill-css {
    animation-name: css-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes css-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 35%; 
        background-color: rgb(113, 165, 130);}
}

#skill-js {
    animation-name: js-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes js-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 15%; 
        background-color: rgb(243, 214, 134);}
}

#skill-python {
    animation-name: python-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes python-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 40%; 
        background-color: rgb(243, 141, 134);}
}

#skill-adobe {
    animation-name: adobe-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes adobe-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 30%; 
        background-color: rgb(205, 114, 241);}
}

#skill-awesomeness {
    animation-name: awesomeness-progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes awesomeness-progress {
    from {
         width: 0%; 
         background-color: aliceblue;}
    to {
        width: 80%; 
        background-color: rgb(148, 214, 189);}
}

#footer {
    background:rgb(235, 233, 233);
    text-align: center;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
}